fig-02_panel-plot-frequentist-summaries_annotated.eps
fig-03_relapse-thresholds_annotated.eps
fig-04_barplot-tpp-decisions_annotated.eps
fig-05_density-plot_prob-steepest_top-2_annotated.tiff
fig-06_venn-diagram_all-together_sub-optimal-3-nk30_annotated.tiff
